<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog</title>
    <meta="discription" content="Blog de interes general">
    <meta="author" content="Cesar Medina">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
        <!-- menu -->
<div class="container-fluid bg-primary bg-inverse text-center">
        
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">DTUP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="navbar-nav ms-auto">

                <div><a href="/" class="btn btn-danger">Inicio</a></div>
                
                </div>
            </div>
        </div>
    </nav>

</div>
<!-- FinMenu -->


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto border rounded p-2">
                <h3 class="text-center">Editar</h3>
                <form action="#" id="form-editar" data-id="<%= id  %>" >
                    <div class="mb-3">
                        <input type="text" id="titulo-post" class="form-control" placeholder="Título del Post">
                    </div>
                    
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea id="detalle-post" class="form-control" placeholder="Ingrese detalle" id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Descripción</label>
                          </div>
                    </div>

                    <div class="mb-3">
                        <input type="date" class="form-control" name="" id="fecha">
                    </div>

                    <div class="mb-3">
                        <input type="text" id="url-img" class="form-control" placeholder="Url imagen">
                    </div>

                    <div class="text-center">
                        <img src="" id="img-preview" class="rounded mx-auto mb-3" style="height:200px; width: 200px">
                    </div>
                    <button type="submit" id="btn-guardar" class="btn btn-primary w-100">
                        Guardar
                    </button>
                  </form>
            </div>
        </div>
    </div>


    <script src="/js/editar-publicacion.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>