<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog</title>
    <meta="discription" content="Blog de interes general">
    <meta="author" content="Cesar Medina">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <!-- menu -->
    <div class="container-fluid bg-primary bg-inverse text-center">
        
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">DTUP</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div class="navbar-nav ms-auto">

                    <div><a href="/" class="btn btn-danger">inicio</a></div>
                    
                    </div>
                </div>
            </div>
        </nav>

    </div>
    <!-- FinMenu -->

    <!-- slider -->
    <div class="container-fluid slider d-flex justify-content-center item align-items-center">  
        <div class="text-center text-white">
            <h3>Mi Blog</h3>
            <h3 class="lead">El mejor lugar para aprender de todo</h3>
        </div>
    </div>
    <!-- FinSlider -->

    <div>
    <div class="container mb-5">
        <h3>De todo un poco...</h3>
        <h4>Por Medina Cesar</h4>
        <hr>
        <div class="row">
            <!-- articulos -->
                <!-- Formulario para crear publicaciones -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center py-3">lo que has publicado hasta el momento...</h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>Titulo</th>
                            <th>Detalle</th>
                            <th>Publicada el</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tabla-publicaciones">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
         
            
            <!-- FinArticulos -->
 
        </div>
    </div>    
        
    </div>
    <!-- main -->

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="/js/tabla-publicaciones.js"></script>
</body>
</html>
    






  

